<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="#">노드 웹</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board">게시판</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">회원</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% if( locals.user ) { %>
                        <a class="dropdown-item" href="#"><%= locals.user.name %>님</a>
                        <a class="dropdown-item" href="/logout">로그아웃</a>
                    <% } else { %>
                        <a class="dropdown-item" href="/login">로그인</a>
                        <a class="dropdown-item" href="/register">회원가입</a>
                    <% } %>
                </div>
            </li>
    </ul>
  </div>
</nav>

<% if(locals.flash) {  %>
    <div class="alert alert-<%= flash.type %> alert-dismissible fade show" role="alert">
        <strong>메시지</strong>
        <%= flash.msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>    
    </div>
<% } %>