<!doctype html>
<html>
	<%- include('include/head'); -%>
	<body >
		<header>
            <%- include('include/header'); -%>
		</header>
        <div class="container">
			<div class="row justify-content-center" style="margin:20px 0px;">
				<div class="col-md-10">
					<form method="post" action="/login">
						<div class="form-group">
							<label for="uid">ID</label>
							<input type="text" class="form-control" id="uid" name="uid" placeholder="사용자 ID를 입력하세요">
						</div>
						<div class="form-group">
							<label for="upw">비밀번호</label>
							<input type="password" class="form-control" id="upw" name="upw" placeholder="비밀번호를 입력하세요">
						</div>
						<button type="submit" class="btn btn-primary">로그인</button>
					</form>
				</div>
			</div>
        </div>
        <%- include('include/footer'); -%>
	</body>
</html>

