<!DOCTYPE html>
<html lang="en">
    <%- include('include/head') -%>
<body>
    <header>
        <%- include('include/header') -%>
    </header>
    <div class="container">
        <div id="main">
            <div class="jumbotron">
                <h1 class="display-3">Hello Node.js</h1>
                <p class="lead">첫 노드 JS 웹사이트에 오신 것을 환영합니다.</p>
            </div>
        </div>
    </div>
    <%- include ('include/footer') -%>
</body>
</html>