h1 {
    background-color: yellow;
    font-size: 80px;
}

#back1 {
    width: 200px;
    height: 200px;
    background-image: url(img/2.jpg);
    background-size: cover;
}

#back2 {
    width: 200px;
    height: 200px;
    background-image: url(img/2.jpg);
    background-size: cover;
}