<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head'); -%>
<body>
    <header>
        <%- include('include/header') -%>
    </header>
    <div class="container">
        
    </div>
    <%- include('include/footer') -%>    
</body>
</html>